*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
    background-image: linear-gradient(450deg, #8bc5ec, #dd6fd8 70%  ) ;
    width: 100%;
}

nav{
    width: 50%;
    background-color: #8a2be2;
    margin: 10px auto;
    align-items: center;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

span{
    color:#8bc5ec;
}
.container{
    text-align: center;
}

nav h1{
    font-size: 35px;
    color: white;
}
nav ul {
    margin-left: 50px;

}
nav ul li {
    list-style: none;
    margin-left: 50px;
    display: inline-block;
    font-size: 17px;
}

nav ul li a{
    text-decoration: none;
    color: #134566;
    font-weight: 700;
    transition: 0.3 ease;
}

.active{
    text-decoration: underline;
    color: #dd6fd8;
}


nav ul li a:hover{
    color: #dd6fd8;
    text-decoration: underline;
}

.intro p{
    padding: 0 50px;
}

.container .user-img{
    width: 20%;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
    border:9px dotted #8bc5ec;
}

.projects{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

.projects img{
    width: 50%;
    margin-bottom: 30px;
}

.projects a{
    border-radius: 20px;
    background-color: lightpink;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    display: inline;
    transition: all 0.3 ease;
}
.projects a:hover{
    cursor: pointer;
    transform: rotate(360px);
}

.projects h1{
    margin-bottom: 20px;
    font-size: 30px;
} 

.projects .prime-two{
    margin-top:40px;
}

.design h1{
    margin-bottom: 40px;
    text-align: center;
}


.design img{
    width: 100%;
    transition: 0.2s ease;
}

.flex-1 img:hover{
    transform: scale(1.2) translateY(5%);
}

.flex-2 img:hover{
    transform: scale(1.2) translateY(-10%);
}


.dgn-2{
    margin: 0 20px;
}

.works .flex-1,.flex-2{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flex-2{
    margin-top: 15px;
}


/*
.design .dgn-2{
    margin-top: 20px;
}

*/

.contact{
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 10px;
}
.contact i{
    font-size: 40px;
    margin-left: 10px;
    transform: 0.3s ease;
}

.contact .fa-whatsapp{
    color: green;
}


.contact .fa-facebook{
    color: blue;
}

.contact i:hover{
    cursor: pointer;
    transform: scale(1.2)translateY(-10px);
}
 
@media (max-width: 980px) {
    .container .user-img{
        width: 30%;
    }

    nav{
        width: 70%;
        background-color: #8a2be2;
        margin: 10px auto;
        align-items: center;
        border-radius: 50px;
        padding: 15px 25px;
        display: flex;
        justify-content: space-between;
        
    }

    nav h1{
        font-size: 30px;
        color: white;
    }

    nav ul li {
        list-style: none;
        margin-left: 20px;
        display: inline-block;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #134566;
    }
    
}

@media (max-width: 640px) {

    .container .user-img{
        width: 40%;
    }

    nav{
        width: 70%;
        background-color: #8a2be2;
        margin: 10px auto;
        align-items: center;
        border-radius: 50px;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        
    }

    nav h1{
        font-size: 18px;
        color: white;
    }

    nav ul li {
        list-style: none;
        margin-left: 5px;
        display: inline-block;
        font-size: 15px;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #134566;
    }

    .contact i{
    font-size: 20px;
    margin-left: 10px;
    transform: 0.3s ease;
}
    
}


@media (max-width: 460px) {

    .container .user-img{
        width: 40%;
    }
    
    nav{
        width: 70%;
        background-color: #8a2be2;
        margin: 10px auto;
        align-items: center;
        border-radius: 50px;
        padding: 15px 50px;
        display: flex;
        justify-content: space-between;
        
    }

    nav h1{
        font-size: 13px;
        color: white;
    }

    nav ul li {
        list-style: none;
        margin-left: 3px;
        display: inline-block;
        font-size: 10px;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #134566;
    }
    
    .projects img{
        width: 70%;
    }

    .contact i{
    font-size: 20px;
    margin-left: 10px;
    transform: 0.3s ease;
}

}